
<div class="bg-white p-2 border sticky left-0">{{ fixture.date | date('j M y') }}</div>
<div class="bg-white p-2 border break-words min-w-0">
    {{ fixture.format(false, false) }}
</div>
<div class="bg-white p-2 border sticky right-0">{{ fixture.homeAway.value }}</div>
<div class="bg-white p-2 border sticky right-0">{{ fixture.competition.value }}</div>
<div class="bg-white p-2 border sticky right-0">22:11</div>