{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1 class="text-primary text-2xl font-bold mb-5">Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary bg-accent hover:bg-accent-dark text-white font-bold py-2 px-4 rounded text-sm">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
