{% extends 'base.html.twig' %}

{% block title %}Hello FixtureController!{% endblock %}

{% block body %}

    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Minis</th>
                <th>U13B</th>
                <th>U14B</th>
                <th>U15B</th>
                <th>U16B</th>
                <th>U18B</th>
                <th>U12G</th>
                <th>U14G</th>
                <th>U16G</th>
                <th>U18G</th>
            </tr>
            {% for date, _fixtures in fixtures %}
                <tr>
                    <td>{{ date|date('j M y') }}</td>
                    {% for fixture_list_for_team in _fixtures %}
                        <td>
                            {% for f in fixture_list_for_team %}
                                 {% include './fixture/fixture_detail.html.twig' with { 'fixture': f } %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
