{% extends 'base.html.twig' %}

{% block title %}New Fixture{% endblock %}

{% block body %}
    <h1>Create new Fixture</h1>

    {{ include('fixture/_form.html.twig') }}

    <a href="{{ path('app_fixture_index') }}">back to list</a>
{% endblock %}
