{% extends 'base.html.twig' %}

{% block title %}Hello FixtureController!{% endblock %}

{% block body %}
    <div>
        <table>
            {% for fixture in fixtures %}<tr>
                <td>{{ fixture.date | date('j M y') }}</td>
                    <td>{% include './fixture/fixture_detail.html.twig' %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
