
<a href="{{ link_path }}"
   class="block p-6 bg-white rounded-2xl shadow hover:shadow-md transition">
    <h2 class="text-xl font-semibold text-secondary mb-2">{{ link_title }}</h2>
    <p>{{ link_description }}</p>
</a>