<h3 class="font-medium text-blue-800">Feature One</h3>
<p class="text-sm text-blue-600">Description of this feature goes here.</p>


<h3 class="font-medium text-green-800">Feature Two</h3>
<p class="text-sm text-green-600">Description of this feature goes here.</p>


<button class="mt-6 w-full sm:w-auto px-6 py-2 bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-lg transition duration-200">
    Call to Action
</button>