

<div class="flex-row">

    <div class="flex-row mb-10 nrfc-address">
        {{ address }}
        <a href="https://www.google.com/maps/search/?api=1&query={{ address | url_encode }}" target='_blank'
           class="text-indigo-600 hover:text-indigo-900 hover:underline">
            ↗️
        </a>
    </div>

    {% if map %}
        <div class="nrfc-map">
            {{ ux_map(map, { style: 'height: 300px; width: 300px' }) }}
        </div>
    {% endif %}
</div>