{% form_theme form 'form/team_selector_theme.html.twig' %}


<div class="mb-5">
    {{ form_start(form) }}
        {{ form_widget(teamsForm) }}
        <button class="bg-accent hover:bg-accent-dark text-white font-bold rounded flex px-1 items-right">Update view</button>
    {{ form_end(form) }}
</div>